* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;        
}

:root {    
    --LightSkyBlue: #B0C4DE; 
}

body {
    background-image: linear-gradient(to bottom right, rgba(147,112,219, 1), rgba(218,112,214, 1));      
    background-repeat: no-repeat; 
    background-size: auto 150%; 
}

#app {
    width: 750px;    
    margin: auto;
    height: 100vh;
}

#logo {
    width: 120px;
    height: auto;
}

input, select {
    outline: none;
}
#transactions-list {    
    height: 50vh;
    overflow-x: hidden; 
    overflow-y: scroll; 
}

::-webkit-scrollbar {
    width: 0px;
  }

@media(max-width: 768px) {
    #app {
        width: 100%;
    }

    #logo {
        width: 100px;
        height: auto;
    }

    #transactions-list {
        height: 60vh;
    }
}

